@{
    ViewBag.Title = "Newest";
    string sortOrderDate = ViewBag.SortOrder == "date_asc" ? "▲" : "▼";
    string sortOrderAnswers = ViewBag.SortOrder == "answers_asc" ? "▲" : "▼";
}

<div class="d-inline-flex justify-content-between w-100 mb-3">
    <div>
        @if (@ViewBag.UserCurent != null)
        {
            <h3 class="m-0">Welcome back, @ViewBag.UserCurent!</h3>
            <p class="m-0">Find answers to your technical questions and help others answer theirs.</p>
        }
        else
        {
            <h3 class="m-0">Welcome to StivaOverflow!</h3>
            <p class="m-0">Sign up to ask questions, provide answers, and interact with the community!</p>
        }
    </div>

    <div class="d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn alert-secondary dropdown-toggle me-2 mt-4" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                Sort
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                <li>
                    <a class="dropdown-item" href="@Url.Action("HomeIndex", new { sortOrder = "date_desc", page = ViewBag.CurrentPage })">Newest @(ViewBag.SortOrder == "date_desc" ? "▼" : "")</a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("HomeIndex", new { sortOrder = "date_asc", page = ViewBag.CurrentPage })">Oldest@(ViewBag.SortOrder == "date_asc" ? "▲" : "")</a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("HomeIndex", new { sortOrder = "answers_asc", page = ViewBag.CurrentPage })">Least Answers @(ViewBag.SortOrder == "answers_asc" ? "▲" : "")</a>
                </li>
                <li>
                    <a class="dropdown-item" href="@Url.Action("HomeIndex", new { sortOrder = "answers_desc", page = ViewBag.CurrentPage })">Most Answers @(ViewBag.SortOrder == "answers_desc" ? "▼" : "")</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<hr/>

<div class="d-flex flex-column gap-3">
    @foreach (var q in ViewBag.Questions)
    {
        <div class="card ">
            <div class="card-body">
                <h3 class="card-title alert-secondary p-3 rounded-2">
                    <a href="/Questions/Show/@q.Id" style="color: inherit; text-decoration: none;">@q.Title</a>
                </h3>
                <div class="card-text description">@Html.Raw(q.Content)</div>
                <div class="d-flex flex-row mt-5 position-relative">
                    <div>
                        <i class="bi bi-person"></i>
                        <a class="utilizator" href="@Url.Action("Index", "Profile", new { id = q.UserId })">@q.User.UserName</a>
                    </div>

                    <a class="tag-container tag-blue btn" style="position: absolute; left: 50%; transform: translateX(-50%);" href="/Questions/Index/@q.Tag.Id">
                        @q.Tag.TagName
                    </a>

                    <span class="alert-info px-1">
                        <span class="date">@q.Date.ToShortDateString()</span>
                        <span class="time">@q.Date.ToShortTimeString()</span>
                    </span>

                </div>
            </div>
        </div>
    }
    @if (ViewBag.lastPage != 0)
    {
        if (@ViewBag.CurrentPage == 0)
        {
            ViewBag.CurrentPage = 1;
        }

        <div>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-left m-3">
                    <li class="page-item">
                        <a class="page-link" href="@ViewBag.PaginationBaseUrl=1"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    @for (int i = 1; i <= ViewBag.lastPage; i++)
                    {
                        <li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
                            <a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
                        </li>
                    }
                    <li class="page-item">
                        <a class="page-link"
                           href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    }
</div>