@{
	ViewBag.Title = "Questions";
}

<div class="container">
	<h3>[@ViewBag.Tag.TagName]</h3>
	<p>@ViewBag.Tag.Description</p>

	@if (ViewBag.Admin)
	{
		<a class="btn alert-info m-3" asp-controller="Tags" asp-action="Show" asp-route-id="@ViewBag.Tag.Id">View Tag</a>
	}

	<div class="d-flex flex-column gap-3">
		<div>
			@foreach (var q in ViewBag.Questions)
			{
				<div class="card m-3">
					<div class="card-body">
						<h3 class="card-title alert-secondary p-3 rounded-2">
							<a href="/Questions/Show/@q.Id" style="color: inherit; text-decoration: none;">@q.Title</a>
						</h3>
						<div class="card-text description">@Html.Raw(q.Content)</div>
						<div class="d-flex justify-content-between flex-row mt-5">
							<div><i class="bi bi-person-fill"></i>@q.User.UserName</div>

							<div> @q.Tag.TagName</div>

							<span class="alert-info px-1 align-content-center">@q.Date</span>

						</div>
					</div>
				</div>
			}
		</div>
		@if (ViewBag.lastPage != 0)
		{
			if (@ViewBag.CurrentPage == 0)
			{
				ViewBag.CurrentPage = 1;
			}
			<div>
				<nav aria-label="Page navigation example">
					<ul class="pagination justify-content-center gap-2">
						<li class="page-item">
							<a class="page-link" href="@ViewBag.PaginationBaseUrl=1"
							   aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						@for (int i = 1; i <= ViewBag.lastPage; i++)
						{
							<li class="page-item @(ViewBag.CurrentPage == i ? "active" : "")">
								<a class="page-link" href="@ViewBag.PaginationBaseUrl=@i">@(i)</a>
							</li>
						}
						<li class="page-item">
							<a class="page-link"
							   href="@ViewBag.PaginationBaseUrl=@(ViewBag.lastPage)" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		}
	</div>
</div>
