@model ProiectStackOverflow.Models.Question


<div class="container">

    <h3 class="content m-3">@Model.Title</h3>
    <hr />
    <div class="content">@Html.Raw(Model.Content)</div>
    <div class="d-flex justify-content-between flex-row mt-5">

        <a class="btn tag-blue" href="/Questions/Index/@Model.TagId">@Model.Tag.TagName</a>

        <div><i class="bi bi-person"></i>
            <a class="utilizator" href="@Url.Action("Index", "Profile", new { id = @Model.UserId })">
                @Model.User.UserName</a>
        </div>
        <div>
            <span class="alert-info">@Model.Date</span>
        </div>

    </div>
</div>


<hr />

@if (Model.UserId == ViewBag.UserCurent || ViewBag.Admin)
{
    <div class="d-flex flex-row justify-content-end">

        <a class="btn alert-success m-3" href="/Questions/Edit/@Model.Id">
            <i class="bi bi-pencil-square"></i>Edit
        </a>

        <form method="post" asp-controller="Questions" asp-action="Delete" asp-route-id="@Model.Id">

            <button class="btn alert-danger m-3" type="submit"><i class="bi bi-trash"></i>Delete</button>

        </form>

    </div>
}

<div class="container m-3">
    <div class="row">
        <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4>Comments</h4>
            </div>
        <div class="col-md-2"></div>
    </div>
</div>

@foreach (var comm in Model.Comments)
{
    <div class="container m-2">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p class="content">@comm.Content</p>
                    <small>@comm.Date</small>
                    <strong>
                        <i class="bi bi-person"></i><a class="utilizator" href="@Url.Action("Index", "Profile", new { id = comm.UserId })">@comm.User.UserName</a>
                    </strong>

                </div>

                @if (comm.UserId == ViewBag.UserCurent || ViewBag.Admin)
                {
                    <div class="d-flex gap-3">

                        <div>

                            <a class="btn alert-success" href="/Comments/Edit/@comm.Id">
                                <i class="bi bi-pencil-square"></i>Edit</a>

                        </div>

                        <div>

                            <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                                <button class="btn alert-danger" type="submit">
                                    <i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>
                }

                <br/>

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}

<div class="container m-2">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" asp-controller="Questions" asp-action="ShowComm">
                    <div class="card-body">
                        <input type="hidden" name="QuestionId" value="@Model.Id"/>
                        <label>Comment</label>
             
                        <textarea class="form-control" name="Content"></textarea>
                        <span asp-validation-for="Comment.Content" class="text-danger"></span>
                      
                        <button class="btn alert-secondary m-3" type="submit">
                            Add comment
                        </button>
                    </div>
                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>

<div class="container m-3">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h4>Answers</h4>

            @{
                string sortOrderDate = ViewBag.SortOrder == "date_asc" ? "▲" : "▼";
            }


            <div class="dropdown">
                <button class="btn alert-secondary dropdown-toggle me-2 mb-4" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortDropdown">
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Show", new { id = Model.Id, sortOrder = "date_asc" })">
                            Oldest @(ViewBag.SortOrder == "date_asc" ? "▲" : "")
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="@Url.Action("Show", new { id = Model.Id, sortOrder = "date_desc" })">Newest @(ViewBag.SortOrder == "date_desc" ? "▼" : "")</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>


@foreach (var ans in Model.Answers)
{
    <div class="container m-2">
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">

                <div>

                    <p class="content">@ans.Content</p>
                    <small>@ans.Date</small>
                    <strong>
                        <i class="bi bi-person"></i><a class="utilizator" href="@Url.Action("Index", "Profile", new { id = ans.UserId })">@ans.User.UserName</a>
                    </strong>

                </div>

                @if (ans.UserId == ViewBag.UserCurent || ViewBag.Admin)
                {
                    <div class="d-flex gap-3">

                        <div>

                            <a class="btn alert-success" href="/Answers/Edit/@ans.Id">
                                <i class="bi bi-pencil-square"></i>Edit</a>

                        </div>

                        <div>

                            <form method="post" asp-controller="Answers" asp-action="Delete" asp-route-id="@ans.Id">

                                <button class="btn alert-danger" type="submit">
                                    <i class="bi bi-trash"></i>Delete</button>

                            </form>

                        </div>

                    </div>
                }

                <br/>

            </div>

            <div class="col-md-1"></div>

        </div>

    </div>
}

<div class="container m-2">

    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">

            <div class="card">

                <form method="post" asp-controller="Questions" asp-action="ShowAns">
                    <div class="card-body">
                        <input type="hidden" name="QuestionId" value="@Model.Id"/>
                        <label>Answer</label>

                        <textarea class="form-control" name="Content"></textarea>
                        <span asp-validation-for="Answer.Content" class="text-danger"></span>
                       
                        <button class="btn alert-secondary m-3" type="submit">
                            Add answer
                        </button>
                    </div>
                </form>

            </div>

        </div>

        <div class="col-md-1"></div>

    </div>

</div>