@{
	ViewBag.Title = "Tags";
}

<h3 class="text">Tags</h3>
<p>
	A tag is a keyword or label that categorizes your question with other, similar questions.
	<br />Using the right tags makes it easier for others to find and answer your question.
</p>
<br />
<form method="GET" class="w-50 m-0">
	<div class="input-group m-3">
		<input type="text" class="form-control"
			   placeholder="Filter by tag name" name="TagSearch"
			   value="@ViewBag.TagSearchString">
		<button class="btn btn-outline-secondary"
				type="submit">
			Search
		</button>
	</div>
</form>

<div class="row">
	@foreach (var tag in ViewBag.Tags)
	{
		<div class="col-sm-3 border mb-3 m-3">
			<a class="btn alert-secondary m-2" href="/Questions/Index/@tag.Id">@tag.TagName</a>
			<div class="description">@tag.Description</div>
			<br />
			@if(ViewBag.Admin)
			{
				<a class="btn alert-warning" asp-controller="Tags" asp-action="Show" asp-route-id="@tag.Id">Show</a>
				<a class="btn alert-info" asp-controller="Tags" asp-action="Edit" asp-route-id="@tag.Id">Edit</a>
			}
			<br />
		</div>
	}
</div>

<br />
<br />
<br />

<div class="d-flex justify-content-around">
	@if (ViewBag.Admin)
	{
		<a class="btn alert-warning" href="/Tags/New">Add tag</a>
	}
	<a class="btn alert-warning" href="/Questions/New">Ask question</a>
</div>
