@model ProiectStackOverflow.Models.ApplicationUser


<div class="card mt-3" style="height:100%; width: 100%;">

    <div class="card-body d-flex justify-content-between flex-column">
        <div>
            <p><i class="bi bi-person"> </i> UserName: @Model.UserName</p>

            <p><i class="bi bi-envelope"></i> Email utilizator: @Model.Email</p>

            @if (@Model.FirstName != null)
            {
                <p><i class="bi bi-person"> </i> Prenume utilizator: @Model.FirstName</p>
            }

            @if (@Model.LastName != null)
            {
                <p><i class="bi bi-person"> </i> Nume utilizator: @Model.LastName</p>
            }

            @if (@Model.PhoneNumber != null)
            {
                <p><i class="bi bi-phone"></i> Telefon utilizator: @Model.PhoneNumber</p>
            }

            @if (ViewBag.Roles.Count > 0)
            {
                <p><i class="bi bi-person"> </i> Rol utilizator:</p>
                @foreach (var role in ViewBag.Roles)
                {
                    <span class="rounded-pill bg-dark mr-2 px-4 py-2 text-white">@role</span>
                }
            }
        </div>

        @if ((string)Model.Id != ViewBag.UserCurent.Id)
        {
            <form asp-controller="Users" asp-action="Delete" method="post" asp-route-id="@Model.Id">
                <button type="submit" class="btn alert-danger mt-3">
                    <i class="bi bi-trash"></i>Sterge utilizator</button>
            </form>
          
        }

    </div>
</div>






