@using Microsoft.AspNetCore.Mvc.TagHelpers
@using ProiectStackOverflow.Helpers
@model ProiectStackOverflow.Models.Profile

@{
    ViewData["Title"] = Model.User.UserName + "'s profile";
}

@{
    var currentUserId = ViewData["CurrentUserId"].ToString(); // Preia ID-ul utilizatorului curent din ViewData
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2 style="background-color: #D4DAC5; display: inline-block; border-radius: 5px; padding: 5px">
                @ViewData["Title"]</h2>
            <hr/>

            <p>
                <strong>UserName:</strong> @Model.User.UserName
            </p>
            <p>
                <strong>Name:</strong> @(Model.User.FirstName + " " + Model.User.LastName)
            </p>
            <p>
                <strong>Email:</strong> @Model.User.Email
            </p>

            @if (!string.IsNullOrEmpty(Model.User.Description))
            {
                <p>
                    <strong>About:</strong>
                </p>
                <p>@Model.User.Description</p>
            }

            <hr/>

            <h3 style="background-color: #D4DAC5; display: inline-block; border-radius: 5px; padding: 5px">
                Recent Activity</h3>

            @if (Model.RecentQuestions.Any() || Model.RecentAnswers.Any())
            {
                @if (Model.RecentQuestions.Any())
                {
                    <h4>Last Questions:</h4>
                    <ul>
                        @foreach (var question in Model.RecentQuestions)
                        {
                            <li><a href="/Questions/Show/@question.Id">@question.Title</a> (@question.Date.ToString("dd.MM.yyyy HH:mm"))</li>
                        }
                    </ul>
                }

                @if (Model.RecentAnswers.Any())
                {
                    <h4>Last Answers:</h4>
                    <ul>
                        @foreach (var answer in Model.RecentAnswers)
                        {
                            var content = Summernote.ReplaceRegex(answer.Content);
                            var contentPreview = content.Length > 50 ? content.Substring(0, 50) : content;
                            <li>@contentPreview ... to the question: <a href="/Questions/Show/@answer.QuestionId">@answer.Question.Title</a> (@answer.Date.ToString("dd.MM.yyyy HH:mm"))</li>
                        }
                    </ul>
                }

                @if (Model.RecentComments.Any())
                {
                    <h4>Last Comments:</h4>
                    <ul>
                        @foreach (var comment in Model.RecentComments)
                        {
                            <li>@comment.Content.Substring(0, Math.Min(comment.Content.Length, 50)) to the question: <a href="/Questions/Show/@comment.QuestionId">@comment.Question.Title</a> (@comment.Date.ToString("dd.MM.yyyy HH:mm"))</li>
                        }
                    </ul>
                }
            }
            else
            {
                <p>There is no recent activity.</p>
            }
            
            @if (currentUserId == Model.User.Id)
            {
                <a class="nav-link text-dark mb-3" style="background-color: #99BECF; display: inline-block; border-radius: 3px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Manage Account</a>
            }
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>